# Virtual Environment
venv/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment Variables
.env

# VS Code
.vscode/

# Output Files
output/

# Python Cache
.pytest_cache/

# OS Files
.DS_Store
Thumbs.db

ct200.db